@charset "utf-8";

/* =============================================================================
    Reset style
========================================================================== */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent }
body { line-height: 1 }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
nav ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent }
ins { background-color: #ff9; color: #000; text-decoration: none }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold }
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help }
table { border-collapse: collapse; border-spacing: 0 }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0 }
body { font-size: .2rem;}


/* =============================================================================
    Basic style
========================================================================== */

/*
 * body InitialStyle
 */
body { -webkit-text-size-adjust: none; background: #fff; }

/*
 * Wrapper InitialStyle
 */
#wrapper { position: relative; margin: 0 auto; overflow: hidden; background:#fff; }

/*
 * Inner InitialStyle
 */
.inner { width:1000px; margin: 0 auto; padding: 0; position:relative; }


/* =============================================================================
    Image
========================================================================== */

img { vertical-align: bottom;width: 100%;max-width: 100%!important; }

/* Image center */
.img-center { display:block; margin:0 auto; }


/* =============================================================================
    Common Style
========================================================================== */

table { font-size:inherit;font:100%;}

pre, code, kbd, samp, tt { font-family: monospace; *font-size: 100%; font: 115% monospace; line-height: 150%; }

input,textarea,select { font-family:inherit; font-size:inherit; font-weight:inherit;}

input,textarea,select { *font-size:100%; }

ul, li { list-style: none;}

input[type="text"],input[type="button"],input[type="submit"] { -webkit-appearance: none; border-radius: 0; }

button { background-color:white; border:none; padding: 0; }

/*
 * box-sizing
 */
div,p,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,form,input,button,textarea,table,tr,th,td,article,aside,header,footer,section,nav{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


/* =============================================================================
    Typography
   ========================================================================== */

body { color: #333; letter-spacing: 0px; font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", Meiryo, "MS P Gothic", "ＭＳ Ｐゴシック", Osaka, Arial, Helvetica, sans-serif;  }

p { line-height: 1.6; text-align: left;}

li,dt, dd { line-height: 1.6; }

.minchou { font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }

h1,h2,h3,h4,h5,h6 { font-weight:bold; line-height: 1.4; }

a { color:inherit; text-decoration:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);　tap-highlight-color: rgba(0, 0, 0, 0); }

input[type="text"],input[type="button"],input[type="submit"] { -webkit-appearance: none; border-radius: 0; }

button { background-color:white; border:none; padding: 0; }

.num {font-family: arial; }
/*
 * convenient styles
 */
.ta-c { text-align:center; }

.ta-l { text-align:left; }

.ta-r { text-align:right; }

.bold { font-weight:bold; }

.ttl-font { text-align:center; font-weight:bold; }

.block-center { margin:0 auto; }

.full-width { width:100%; }


/*
 * color
 */
.white { color:#fff; }

.black { color:#000; }


/* yellow-marker */
.marker { background: linear-gradient(transparent 60%, #fff799 60%); background: -webkit-linear-gradient(transparent 60%, #fff799 0%); color:#ff6a06; font-weight:bold; }


/*
 * letter-spacing
 */
.xs-spacing { letter-spacing:.05rem; }

.s-spacing { letter-spacing:.1rem; }

.m-spacing { letter-spacing:.15rem; }

.l-spacing  { letter-spacing:.2rem; }

/*
 * line-height
 */
.line16 { line-height:1.6; }

.line17 { line-height:1.7; }

.line18 { line-height:1.8; }

.line19 { line-height:1.9; }

.line20 { line-height:2; }


/**
 *
 * Enter the font size
 * pattern to be used in this coding.
 *
 */
.fs-12 { font-size:12px; }
.fs-14 { font-size:14px; }
.fs-18 { font-size:18px; }
.fs-20 { font-size:20px; }
.fs-22 { font-size:22px; }
.fs-24 { font-size:24px; }
.fs-26 { font-size:26px; }
.fs-30 { font-size:30px; }
.fs-32 { font-size:30px; }
.fs-34 { font-size:34px; }
.fs-38 { font-size:38px; }
.fs-40 { font-size:40px; }
.fs-42 { font-size:42px; }
.fs-44 { font-size:44px; }
.fs-46 { font-size:46px; }
.fs-48 { font-size:48px; }
.fs-50 { font-size:50px; }

/* =============================================================================
    Layout style
   ========================================================================== */

/* Header */
#header { width:100%; }

/* Footer */
#footer { width:100%; }

/* Container */
#container { width:100%; }

/*
 * display
 */
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }

/*
 * float
 */
.left { float:left; }

.right { float:right; }

/*
 * position styles
 */
.relative { position:relative; }

.absolute { position: absolute; }

.front-position { position:relative; z-index:1; }

/* absolute-center */
.ab-center { position:absolute; left:0; right:0; margin:auto; }

/*
 * flex box
 */
.flex { display: flex; display: -webkit-flex; }

.f-wrap { flex-wrap: wrap; -ms-flex-wrap: wrap; -moz-flex-wrap: wrap; -webkit-flex-wrap: wrap; }

.f-between { justify-content: space-between; -webkit-justify-content: space-between; }

.align-center{align-items:center;}

.justify-center{justify-content:center;}

.flex-list { display: flex; display: -webkit-flex; flex-wrap: wrap; -ms-flex-wrap: wrap; -moz-flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: space-between; -webkit-justify-content: space-between; }


/* =============================================================================
    Others
   ========================================================================== */

/* Header fix */
.fixed { position:fixed; left:0; top:0; z-index:9999; }

/* arrow */
.arrow:after { display:block; position:absolute; left:0; right:0; margin:auto; content:''; }

/* background */
.bg-white { background-color:#fff; }

.bg-black { background-color:#000; }

.bg-flex { background-size:100% auto; }

/*
 * clearfix
 */
.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

/*
 * hover effect
 */
.u-target { transition: opacity .3s; cursor: pointer; }

.u-target:hover { opacity: .8; filter: alpha(opacity=80); -ms-filter: "alpha(opacity=80)"; }


.sp-only { display: none; }

.deco { position: relative; display: inline-block; }
.deco:before { position: absolute; top: 0; left: -30px; background: #333; width: 2px; height: 100%; transform: rotate(-20deg);content: ""; }
.deco:after { position: absolute; top: 0; right: -27px; background: #333; width: 2px; height: 100%; transform: rotate(20deg);content: ""; }

.photo, .icon , .logo , .cta-btn { line-height: 0;}